@model CreateAuthorDto 
@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<h1>Yeni Yazar Girişi</h1>
<form method="post">
    <label>Yazar Adı</label>
    <input type="text" asp-for="AuthorName" class="form-control" />
    <br />
    <label>Yazar Soyadı</label>
    <input type="text" asp-for="AuthorSurname" class="form-control" />
    <br />
    <label>E-mail</label>
    <input type="email" asp-for="AuthorEmail" class="form-control" />
    <br />
    <label>Görsel</label>
    <input type="url" asp-for="AuthorImage" class="form-control" />
    <br />
    <button class="btn btn-primary">Yazar Ekle</button>
</form>

